<!doctype html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Iceland2 - Time Tracking</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <script src="js/config.js"></script>
    <script src="js/jquery-1.8.3.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script src="js/lodash.min.js"></script>
    <script src="js/backbone-min.js"></script>
    <script src="js/main.js"></script>

</head>
<body>



<!-- Templates -->
<script type="text/template" id="pre-checkin-template">
    <button class="btn <% (!checkin.stop && !checkin.start) ? print('btn-success') : print('btn-danger'); %>" id="check" <% (!checkin.project) ? print('disabled') : '' %>><% (checkin.project) ? (!checkin.stop && !checkin.start) ? print('Check-in em') : print('Check-out em') : print('Seleciona um projeto aí do lado')%> <span name="projeto"><%=checkin.project%></span></button>
    <% if(!checkin.stop && !checkin.start){ %>
    <button class="btn btn-success dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
    </button>
    <% } %>
    <ul class="dropdown-menu span4">
        <% _.each(projetos, function(projeto){ %>
        <li><a href="#" data-projetoid="<%=projeto.id%>"><%=projeto.name%></a></li>
        <% }) %>
    </ul>
</script>


<script type="text/template" id="registros-item-template">
    <td><i class="icon-calendar hidden-phone"></i> <%=dia%></td>
    <td><span class="label label-success"><%=start%></span></td>
    <td><span class="label label-important"><%=stop%></span></td>
    <td class="hidden-phone"><%=horas%></td>
    <td><%=project%></td>
</script>
<!-- end Templates -->



<div class="container-narrow">

    <div class="masthead hidden-phone">
        <ul class="nav nav-pills pull-right">
            <li class="active"><a href="index.html">Home</a></li>
        </ul>

        <h3 class="muted">Iceland 2nd Nation</h3>
    </div>

    <hr class="hidden-phone">

    <div class="jumbotron">
        <h1>Qual projeto tu ta trampando?</h1>
        <p class="lead">Vamo lá mano. Eu sei que é chato mas a gente tem que fazer essa porra.</p>

        <div id="pre-checkin"><!-- Backbone.View --></div>
    </div>

    <hr>


    <table class="table table-striped">
        <thead>
            <tr>
                <th>Dia</th>
                <th>Check-in</th>
                <th>Check-out</th>
                <th class="hidden-phone">Horas</th>
                <th>Projeto</th>
            </tr>
        </thead>

        <tbody id="registros">
            <!-- Backbone.View -->
        </tbody>
    </table>


    <hr>

    <div class="footer">
    <p>&copy; Copyright motherfucker direitos de Guilherme Medeiros.</p>
    </div>

</div> <!-- /container -->

</body>
</html>